@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Nanum+Pen+Script|Roboto+Slab:300,400,700&amp;subset=latin-ext');
@import '~normalize.css/normalize.css';
@import './variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #222;
}

* {
  box-sizing: border-box;
  outline: none;
}

input::selection {
  background: black;
  color: white;
}

.font-number {
  font-family: 'Roboto Slab', serif;
}

button {
  cursor: pointer;
}

:focus {
  -webkit-tap-highlight-color: transparent;
}

.team-1-clr {
  color: #c00 !important;
}
.team-2-clr {
  color: #002a77 !important;
}
.team-3-clr {
  color: #002d8d !important;
}
.team-4-clr {
  color: #000 !important;
}
.team-5-clr {
  color: #0f0f0f !important;
}
.team-6-clr {
  color: #0f0f0f !important;
}
.team-7-clr {
  color: #041a3a !important;
}
.team-8-clr {
  color: #001a56 !important;
}
.team-9-clr {
  color: #b50f21 !important;
}
.team-10-clr {
  color: #003f7d !important;
}
.team-12-clr {
  color: #CE1226 !important;
}
.team-13-clr {
  color: #b00e28 !important;
}
.team-14-clr {
  color: #00205B !important;
}
.team-15-clr {
  color: #041a3a !important;
}
.team-16-clr {
  color: #CE1126 !important;
}
.team-17-clr {
  color: #b00e28 !important;
}
.team-18-clr {
  color: #ffb81c !important;
}
.team-19-clr {
  color: #002f87 !important;
}
.team-20-clr {
  color: #C8102E !important;
}
.team-21-clr {
  color: #98012e !important;
}
.team-22-clr {
  color: #041E41 !important;
}
.team-23-clr {
  color: #002d55 !important;
}
.team-24-clr {
  color: #111 !important;
}
.team-25-clr {
  color: #000 !important;
}
.team-26-clr {
  color: #000 !important;
}
.team-28-clr {
  color: #00788a !important;
}
.team-29-clr {
  color: #036 !important;
}
.team-30-clr {
  color: #123e2e !important;
}
.team-52-clr {
  color: #002848 !important;
}
.team-53-clr {
  color: #0d0d0d !important;
}
.team-54-clr {
  color: #000 !important;
}

.team-1-bg{
  background: #c00 !important;
}
.team-2-bg{
  background: #002a77 !important;
}
.team-3-bg{
  background: #002d8d !important;
}
.team-4-bg{
  background: #000 !important;
}
.team-5-bg{
  background: #0f0f0f !important;
}
.team-6-bg{
  background: #0f0f0f !important;
}
.team-7-bg{
  background: #041a3a !important;
}
.team-8-bg{
  background: #001a56 !important;
}
.team-9-bg{
  background: #b50f21 !important;
}
.team-10-bg {
  background: #003f7d !important;
}
.team-12-bg {
  background: #CE1226 !important;
}
.team-13-bg {
  background: #b00e28 !important;
}
.team-14-bg {
  background: #00205B !important;
}
.team-15-bg {
  background: #041a3a !important;
}
.team-16-bg {
  background: #CE1126 !important;
}
.team-17-bg {
  background: #b00e28 !important;
}
.team-18-bg {
  background: #ffb81c !important;
}
.team-19-bg {
  background: #002f87 !important;
}
.team-20-bg {
  background: #C8102E !important;
}
.team-21-bg {
  background: #98012e !important;
}
.team-22-bg {
  background: #041E41 !important;
}
.team-23-bg {
  background: #002d55 !important;
}
.team-24-bg {
  background: #111 !important;
}
.team-25-bg {
  background: #000 !important;
}
.team-26-bg {
  background: #000 !important;
}
.team-28-bg {
  background: #00788a !important;
}
.team-29-bg {
  background: #036 !important;
}
.team-30-bg {
  background: #123e2e !important;
}
.team-52-bg {
  background: #002848 !important;
}
.team-53-bg {
  background: #0d0d0d !important;
}
.team-54-bg {
  background: #000 !important;
}

.team-1-after:after{
  background: #c00 !important;
}
.team-2-after:after{
  background: #002a77 !important;
}
.team-3-after:after{
  background: #002d8d !important;
}
.team-4-after:after{
  background: #000 !important;
}
.team-5-after:after{
  background: #0f0f0f !important;
}
.team-6-after:after{
  background: #0f0f0f !important;
}
.team-7-after:after{
  background: #041a3a !important;
}
.team-8-after:after{
  background: #001a56 !important;
}
.team-9-after:after{
  background: #b50f21 !important;
}
.team-10-after:after {
  background: #003f7d !important;
}
.team-12-after:after {
  background: #CE1226 !important;
}
.team-13-after:after {
  background: #b00e28 !important;
}
.team-14-after:after {
  background: #00205B !important;
}
.team-15-after:after {
  background: #041a3a !important;
}
.team-16-after:after {
  background: #CE1126 !important;
}
.team-17-after:after {
  background: #b00e28 !important;
}
.team-18-after:after {
  background: #ffb81c !important;
}
.team-19-after:after {
  background: #002f87 !important;
}
.team-20-after:after {
  background: #C8102E !important;
}
.team-21-after:after {
  background: #98012e !important;
}
.team-22-after:after {
  background: #041E41 !important;
}
.team-23-after:after {
  background: #002d55 !important;
}
.team-24-after:after {
  background: #111 !important;
}
.team-25-after:after {
  background: #000 !important;
}
.team-26-after:after {
  background: #000 !important;
}
.team-28-after:after {
  background: #00788a !important;
}
.team-29-after:after {
  background: #036 !important;
}
.team-30-after:after {
  background: #123e2e !important;
}
.team-52-after:after {
  background: #002848 !important;
}
.team-53-after:after {
  background: #0d0d0d !important;
}
.team-54-after:after {
  background: #000 !important;
}


.team-1-before:before{
  border-color: transparent #c00 transparent !important;
}
.team-2-before:before{
  border-color: transparent #002a77 transparent !important;
}
.team-3-before:before{
  border-color: transparent #002d8d transparent !important;
}
.team-4-before:before{
  border-color: transparent #000 transparent !important;
}
.team-5-before:before{
  border-color: transparent #0f0f0f transparent !important;
}
.team-6-before:before{
  border-color: transparent #0f0f0f transparent !important;
}
.team-7-before:before{
  border-color: transparent #041a3a transparent !important;
}
.team-8-before:before{
  border-color: transparent #001a56 transparent !important;
}
.team-9-before:before{
  border-color: transparent #b50f21 transparent !important;
}
.team-10-before:before {
  border-color: transparent #003f7d transparent !important;
}
.team-12-before:before {
  border-color: transparent #CE1226 transparent !important;
}
.team-13-before:before {
  border-color: transparent #b00e28 transparent !important;
}
.team-14-before:before {
  border-color: transparent #00205B transparent !important;
}
.team-15-before:before {
  border-color: transparent #041a3a transparent !important;
}
.team-16-before:before {
  border-color: transparent #CE1126 transparent !important;
}
.team-17-before:before {
  border-color: transparent #b00e28 transparent !important;
}
.team-18-before:before {
  border-color: transparent #ffb81c transparent !important;
}
.team-19-before:before {
  border-color: transparent #002f87 transparent !important;
}
.team-20-before:before {
  border-color: transparent #C8102E transparent !important;
}
.team-21-before:before {
  border-color: transparent #98012e transparent !important;
}
.team-22-before:before {
  border-color: transparent #041E41 transparent !important;
}
.team-23-before:before {
  border-color: transparent #002d55 transparent !important;
}
.team-24-before:before {
  border-color: transparent #111 transparent !important;
}
.team-25-before:before {
  border-color: transparent #000 transparent !important;
}
.team-26-before:before {
  border-color: transparent #000 transparent !important;
}
.team-28-before:before {
  border-color: transparent #00788a transparent !important;
}
.team-29-before:before {
  border-color: transparent #036 transparent !important;
}
.team-30-before:before {
  border-color: transparent #123e2e transparent !important;
}
.team-52-before:before {
  border-color: transparent #002848 transparent !important;
}
.team-53-before:before {
  border-color: transparent #0d0d0d transparent !important;
}
.team-54-before:before {
  border-color: transparent #000 transparent !important;
}
