.post {

  //position: relative;
  //z-index: -1;
  padding-bottom: 80px;
  background: white;

  .media {

    position: relative;
    width: 100%;
    padding-top: calc(360 / 640 * 100%);

    .play {

      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 9;
      opacity: .5;
      color: white;
      text-shadow: 0 0 3px rgba(black, .5);

      &.is-playing {
        animation: fadeInOut 2s infinite;
      }

      @keyframes fadeInOut {

        0% { opacity: .5; }
        50% { opacity: 1; }
        100% { opacity: .5; }

      }

    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    img {

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .25s ease;
      opacity: 1;

      &.hidden {
        transition-delay: 1.25s;
        pointer-events: none;
        opacity: 0;
      }

    }

  }

  .caption {

    padding: 15px;
    font-size: .9em;
    line-height: 140%;
    color: #444;

    a {
      font-weight: 700;
      color: inherit;
      text-decoration: none;
      //font-family: 'Roboto Slab', serif;
    }

  }

}
