.standings {

  padding: 0 15px 50px;

  .division {

    margin-bottom: 15px;

    .title {
      padding: 20px 5px 10px;
      font-family: 'Roboto Slab', serif;
    }

  }

  .show-all {
    display: block;
    width: 140px;
    margin: 30px auto 0;
    background: transparent;
    color: #000;
    border: 1px solid #222;
    padding: 9px;
    font-size: .83em;
    text-align: center;
    text-transform: uppercase;
  }

  .standing-header {

    font-size: .8em !important;
    color: #555;
    font-weight: 300;

    &:after {
      content: none !important;
    }

  }

  .standing-item {

    display: flex;
    align-items: center;
    padding: 7px 0;
    font-size: .9em;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 53px;
      bottom: 0;
      width: calc(100% - 57px);
      height: 1px;
      background: #ddd;
    }

    &:last-child:after {
      content: none;
    }

    &.hl {
      font-weight: bold;
    }

    span {
      flex: 1 0 35px;
      margin: 0 10px 0 0;
      text-align: right;

      &.no {
        flex: 0 0 10px;
        color: #666;
        font-weight: 300;
      }

      &.name {
        flex: 1 0 50px;
        text-align: left;
        font-size: .95em;
      }

      &.record {
        flex: 0 0 80px;
      }
    }

    .img {
      flex: 0 0 20px;
      width: 20px;
      margin: 0 15px 0 0;
    }

  }


}
