.team-stats {

  padding: 30px 15px 15px;
  width: 100%;
  overflow: auto;

  table {
    table-layout: fixed;
    border-collapse: collapse;
  }

  thead {

    font-size: .7em;
    color: #666;
    font-weight: 300;

    tr {

      td {

        position: relative;
        min-width: 20px;
        height: 60px;

        span {
          position: absolute;
          top: calc(100% - 5px);
          left: 50%;
          display: flex;
          align-items: center;
          width: 80px;
          height: 20px;
          transform: rotate(-70deg) translate(0, -50%);
          transform-origin: left top;
          line-height: 100%;
        }

      }

    }

  }

  tbody {

    font-size: .8em;
    color: #222;

    tr {

      td {

        padding: 4px;
        text-align: center;

        &:nth-child(even) {
          background: #eee;
        }

      }

    }

  }

}
